{% extends 'base.html' %}
{% block title %} HFIE Quiz - Registrieren {% endblock %}
{% block css %}
<style>
      .head1 {
    color: #FBAD30;
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
  }

  .head2 {
    color: #EF4926;
    font-size: 2rem;
    font-weight: bold;
  }
  </style>
  {% endblock %}

  {% block body %}
  <div class="row py-5 p-4 bg-white rounded justify-content-center">

    <div class="col-lg-6">
        <div class="px-4 py-3 text-uppercase font-weight-bold text-center"
            style="color:black;font-weight:bold">Deine Benutzerkontendetails</div>
        <br>
        <form class="row g-4" method="POST" action="/signup/">{% csrf_token %}     
          <div class="col-md-24 form-group text-center">
              <label for="inputname" class="form-label" style="font-weight: bold;">
                Vorname</label>
              <input type="text" placeholder="Max" style="text-align: center;"
              class="form-control" id="first_name" name="first_name" required/>       
            </div>
            <div class="col-md-12 text-center">
                <label for="inputname" class="form-label" style="font-weight: bold;">
                        Nachname</label>
                <input type="text" placeholder="Mustermann" style="text-align: center;"
                    class="form-control" id="last_name" name="last_name" required>
            </div>
            <div class="col-md-12 text-center">
                <label for="inputname" class="form-label" style="font-weight: bold;">
                        Benutzername</label>
                <input type="text" placeholder="maxim96" style="text-align: center;"
                    class="form-control" id="username" name="username" required>
            </div>
            <div class="col-md-12 text-center">
                <label for="inputname" class="form-label" style="font-weight: bold;">
                        Email</label>
                <input type="email" placeholder="example@outlook.com" style="text-align: center;"
                    class="form-control" id="email" name="email" required>
            </div>
            <div class="col-md-12 text-center">
                <label for="inputname" class="form-label" style="font-weight: bold;">
                        Passwort</label>
                <input type="password" placeholder="**********" style="text-align: center;"
                    class="form-control" id="password1" name="password1" required>
            </div>
            <div class="col-md-12 text-center">
                <label for="inputname" class="form-label" style="font-weight: bold;">
                        Bestätigung des Passworts</label>
                <input type="password" placeholder="**********" style="text-align: center;"
                    class="form-control" id="password2" name="password2" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrieren</button>
            </form>
            <br>
        </div>
  </div>

  {% endblock %}